.featureContainer {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.feature {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgba(135, 135, 135, 0.25);
	padding: 0.75rem;
}

.featureIcon {
	color: #155850;
	width: 2rem;
	height: 2rem;
}

.featureContent {
	width: 18rem;
	margin-top: 0.3rem;
	margin-left: 10px;
	color: #0d0d0d;
	font-size: 1.1rem;
	font-weight: 500;
}

.arrowRight {
	color: #155850;
	width: 1.6rem;
	height: 1.6rem;
}

.featureIconAboutUs {
	text-align: center;
	color: #155850;
	font-size: 1.8rem;
	font-weight: 700;
}
