.homeHotel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 4px 20px 0px rgba(201, 201, 201, 0.3);
	height: 5rem;
	width: 18rem;
	border-radius: 8px;
}

.hotelImage {
	margin: 0.5rem;
	flex-basis: 25%;
	border-radius: 4px;
	width: 4rem;
	height: 4rem;
}

.hotelNameContent {
	margin: -0.7rem 10px 0 3px;
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
}

.hotelName {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 10rem;
	color: #0d0d0d;
	font-size: 1rem;
	font-weight: 500;
}

.hotelStar {
	margin-top: -0.2rem;
	display: flex;
	flex-direction: row;
}

.starIcon {
	color: #f9b21a;
	height: 1rem;
	width: 1rem;
}

.starNumber {
	margin-top: 0.1rem;
	margin-left: 0.5rem;
	color: #0d0d0d;
	font-size: 0.7rem;
	font-weight: 500;
}

.hotelLocation {
	margin-top: -0.2rem;
	display: flex;
	flex-direction: row;
}

.locationIcon {
	color: #155850;
	height: 1rem;
	width: 1rem;
}

.locationName {
	margin-left: 0.5rem;
	color: #6d6d6d;
	font-size: 0.7rem;
	font-weight: 500;
}

.heartIconHotel {
	margin: 1.7rem 0.5rem 0 0;
	width: 1.5rem;
	height: 1.5rem;
	color: #e52525;
}
