.bookingItem {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px #c9c9c959;
	padding: 0.7rem;
}

.itemImageHotel {
	border-radius: 4px;
	width: 100%;
}

.itemContent {
	display: flex;
	flex-direction: row;
}

.contentItem {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.titleHotel {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 70vw;
	color: #0d0d0d;
	font-size: 1.2rem;
	font-weight: 500;
}

.hotelStar {
	display: flex;
	flex-direction: row;
}

.hotelStarIcon {
	height: 1rem;
	width: 1rem;
	color: #f9b21a;
}

.hotelStarNumber {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 30vw;
	margin-top: 1px;
	margin-left: 5px;
	overflow: hidden;
	color: #0d0d0d;
	font-size: 0.9rem;
	font-weight: 500;
}

.hotelLocation {
	display: flex;
	flex-direction: row;
}

.hotelLocationIcon {
	height: 1rem;
	width: 1rem;
	color: #155850;
}

.hotelLocationName {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 70vw;
	margin-top: 1px;
	margin-left: 5px;
	overflow: hidden;
	color: #6d6d6d;
	font-size: 0.9rem;
	font-weight: 500;
}

.heartIconContainer {
	text-align: right;
}

.heartIcon {
	width: 2rem;
	height: 2rem;
	color: #e52525;
}

.bookingLine {
	width: 100%;
	height: 2px;
	background-color: #d9d9d9;
}

.bookingPrice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.pricebooking {
	margin-top: 0.8rem;
	color: #e52525;
	font-size: 1.5rem;
	font-weight: 500;
}

.discout {
	background-color: #e52525;
	border-radius: 50px;
	width: 5rem;
	height: 1.7rem;
}

.pricebookingDiscount {
	margin: 0.3rem;
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	font-weight: 500;
}
