.hotelContainer {
	margin: 1.5rem 0;
	padding-bottom: 2rem;
	overflow-x: scroll;
}

.hotelContainer::-webkit-scrollbar {
	display: none;
}

.hotelList {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 15px;
}
