.paymentConfirmContainer {
	height: 100%;
	padding: 0 16px;
	margin: 5rem 0;
}

.containerText {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.changeText {
	color: #155850;
	font-size: 12px;
	font-weight: 500;
}

.customerInfor {
	margin: 8px 0;
	padding: 12px 16px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 6px 0px rgba(135, 135, 135, 0.25);
	color: #6d6d6d;
	font-size: 14px;
	font-weight: 500;
}
