.paymentInfor {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.cardLogoImage {
	width: 35px;
	height: 100%;
}

.paymentName {
	margin-top: 10px;
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 500;
}

.radioButtonUncheck {
	width: 20px;
	height: 20px;
	color: #878787;
}
