<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDplMBLOs8AYcy3V5XDwnScp_kwXd6n3mU</string>
	<key>GCM_SENDER_ID</key>
	<string>996865293856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Wanderlust</string>
	<key>PROJECT_ID</key>
	<string>wanderlust-1218a</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderlust-1218a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996865293856:ios:2e948d8f48b00d9fcfc645</string>
</dict>
</plist>