.voucherContainer {
	padding: 12px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
	background-color: #d7f3f0;
}

.voucherInfor {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.voucherIcon {
	width: 24px;
	height: 24px;
	color: #155850;
}

.voucherName {
	margin-top: 10px;
	color: #155850;
	font-size: 14px;
	font-weight: 500;
}

.arrowRight {
	width: 20px;
	height: 20px;
	color: #878787;
}
