.homeNavbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homeAvatarAndContent {
	display: flex;
	flex-direction: row;
}

.avatar {
	width: 3rem;
	height: 3rem;
	background-color: #d7f3f0;
	border-radius: 100%;
}

.homeNavbarContent {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.titleHomeHello {
	color: #155850;
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: -0.02rem;
	margin-bottom: -0.7rem;
}

.subTitleHomeHello {
	color: #878787;
	font-size: 0.9rem;
	font-weight: 500;
}

.homeNotification {
	width: 3rem;
	height: 3rem;
	background-color: #d7f3f0;
	border-radius: 100%;
	padding: 0.6rem;
	text-align: center;
}

.iconBell {
	color: #155850;
	width: 1.7rem;
	height: 1.7rem;
}
