.confirmTitle {
	margin-top: 22px;
	color: #0d0d0d;
	font-size: 16px;
	font-weight: 600;
}

.confirmItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	margin-top: 8px;
	padding: 8px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 4px 20px 0px rgba(201, 201, 201, 0.3);
}

.itemImage {
	border-radius: 8px;
	width: 210px;
	height: 90px;
}

.informationImage {
	border-radius: 8px;
	width: 100%;
	height: 100%;
}

.contentName {
	margin-top: 8px;
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 500;
}

.subContentName {
	margin-top: 4px;
	margin-bottom: 4px;
	color: #6d6d6d;
	font-size: 12px;
	font-weight: 500;
}

.contentStar {
	display: flex;
	flex-direction: row;
}

.starNumber {
	margin-top: 3px;
	margin-left: 7px;
	color: #0d0d0d;
	font-size: 12px;
	font-weight: 500;
}
