.flightItem {
	display: flex;
	flex-direction: row;
	padding: 8px 16px;
	box-shadow: 0px 0px 8px 0px rgba(157, 157, 157, 0.35);
	border-radius: 16px;
}

.flightInformation {
	width: 75vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flightInformationHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.inforFlight {
	display: flex;
	flex-direction: row;
}

.flightLogo {
	width: 20px;
	height: 20px;
}

.flightName {
	margin-top: 4px;
	margin-left: 8px;
	color: #0d0d0d;
	font-size: 12px;
	font-weight: 500;
}

.seatType {
	margin-top: 5px;
	margin-left: 8px;
	color: #053731;
	font-size: 10px;
	font-weight: 500;
}

.fightTimeInformation {
	width: 40vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.informationTimeAndDestination {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.timeFlight {
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 500;
}

.destinationFlight {
	color: #155850;
	font-size: 12px;
	font-weight: 500;
}

.flightSimulation {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.simulationTime {
	color: #6d6d6d;
	font-size: 10px;
	font-weight: 500;
}

.simulationType {
	color: #6d6d6d;
	font-size: 10px;
	font-weight: 500;
}

.arrowLong {
	box-sizing: border-box;
	position: relative;
	display: block;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	box-shadow: inset 0 0 0 1px #6d6d6d;
	width: 100%;
	height: 6px;
}

.arrowLong::after {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 6px;
	height: 6px;
	color: #6d6d6d;
	border-top: 2px solid #6d6d6d;
	border-right: 2px solid #6d6d6d;
	transform: rotate(45deg);
	right: 0;
	bottom: -2px;
}

.ticketInformation {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.ticketDetail {
	margin-top: 9px;
	color: #053731;
	font-size: 10px;
	font-weight: 500;
}

.ticketInformationContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.ticketType {
	display: flex;
	flex-direction: row;
}

.ticketIcon {
	width: 11.493px;
	height: 11.867px;
	color: #6d6d6d;
}

.typeInfor {
	margin-top: 1px;
	margin-left: 4px;
	color: #6d6d6d;
	font-size: 10px;
	font-weight: 500;
}

.ticketPrice {
	margin-top: 1px;
	color: #e52525;
	font-size: 14px;
	font-weight: 500;
}

.ticketRip {
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.ripLine {
	height: 100%;
	width: 50%;
	border-left: 2px dashed #d9d9d9;
}
