.searchBar {
	margin: 2.5rem 0;
}

.custom {
	width: 100%;
	height: 3rem;
	background-color: #edeef1;
	border-radius: 25px;
	color: #edeef1;
	--background: #edeef1;
	--placeholder-color: #878787;
	--icon-color: #878787;
}
