.addVoucherContainer {
	height: 100%;
	padding: 0 16px;
	margin: 5rem 0;
}

.inputCode {
	width: 100%;
	height: 40px;
	padding: 12px 16px 11px 16px;
	color: #6d6d6d;
	font-size: 14px;
	font-weight: 500;
}

.voucherContainer {
	margin: 16px 0;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 6px 0px rgba(135, 135, 135, 0.25);
}

.voucherHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
}

.containerContent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.voucherIcon {
	width: 24px;
	height: 24px;
	color: #155850;
}

.voucherTitle {
	color: #155850;
	font-size: 14px;
	font-weight: 500;
}

.voucherSubTitle {
	margin-top: 1px;
	color: #6d6d6d;
	font-size: 10px;
	font-weight: 500;
}

.addCircle {
	width: 24px;
	height: 24px;
	color: #155850;
}

.voucherFooter {
	padding: 0 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #d7f3f0;
}

.footerTitle {
	margin-top: 7px;
	color: #155850;
	font-size: 8px;
	font-weight: 500;
}

.footerDetail {
	margin-top: 7px;
	color: #155850;
	font-size: 8px;
	font-weight: 500;
}

.voucherContainerUncheck {
	margin: 16px 0;
	border-radius: 8px;
	background-color: #edeef1;
	box-shadow: 0px 0px 6px 0px rgba(135, 135, 135, 0.25);
}

.voucherHeaderUncheck {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
}

.containerContentUncheck {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.voucherIconUncheck {
	width: 24px;
	height: 24px;
	color: #6d6d6d;
}

.voucherTitleUncheck {
	color: #6d6d6d;
	font-size: 14px;
	font-weight: 500;
}

.voucherSubTitleUncheck {
	margin-top: 1px;
	color: #6d6d6d;
	font-size: 10px;
	font-weight: 500;
}

.addCircleUncheck {
	width: 24px;
	height: 24px;
	color: #6d6d6d;
}

.voucherFooterUncheck {
	padding: 0 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #d9d9d9;
}

.footerTitleUncheck {
	margin-top: 7px;
	color: #6d6d6d;
	font-size: 8px;
	font-weight: 500;
}

.footerDetailUncheck {
	margin-top: 7px;
	color: #6d6d6d;
	font-size: 8px;
	font-weight: 500;
}

.priceDetail {
	display: flex;
	flex-direction: column;
}

.priceItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contentText {
	color: #6d6d6d;
	font-size: 14px;
	font-weight: 500;
}

.confirmPaymentLine {
	margin: 12px 0;
	width: 100%;
	height: 1px;
	background-color: #d9d9d9;
}

.totalPrice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.totalText {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 600;
}

.totalPrice {
	color: #e52525;
	font-size: 20px;
	font-weight: 600;
}

.buttonConfirm {
	margin: 2.5rem 0;
	background-color: #155850;
	width: 100%;
	height: 3.6rem;
	border-radius: 50px;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	box-shadow: 0px 10px 25px 0px rgba(21, 86, 88, 0.3);
}

.contentTextTotal {
	color: #0d0d0d;
	font-size: 16px;
	font-weight: 600;
}

.contentTextDiscount {
	color: #155850;
	font-size: 14px;
	font-weight: 500;
}
