.homeflight {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fff;
	box-shadow: 0px 4px 20px 0px rgba(201, 201, 201, 0.3);
	height: 5rem;
	width: 18rem;
	border-radius: 8px;
}

.flightImage {
	margin: 0.5rem;
	flex-basis: 25%;
	border-radius: 4px;
	width: 4rem;
	height: 4rem;
}

.flightNameContent {
	margin: -0.7rem 10px 0 3px;
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
}

.contentFlight {
	height: 2rem;
}

.flightNameList {
	margin-top: 20px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 10rem;
	color: #0d0d0d;
	font-size: 0.9rem;
	font-weight: 500;
}

.flightDate {
	margin-top: 0.1rem;
	color: #6d6d6d;
	font-size: 0.7rem;
	font-weight: 500;
}

.flightLine {
	width: 100%;
	height: 2px;
	background-color: #d9d9d9;
}

.flightPrice {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.priceDiscount {
	margin-top: 0.1rem;
	color: #e52525;
	font-size: 0.7rem;
	font-weight: 500;
}

.priceNotDiscount {
	margin-top: 0.1rem;
	color: #878787;
	font-size: 0.6rem;
	font-weight: 500;
	text-decoration: line-through;
}

.heartIconflight {
	margin: 1rem 0.5rem 0 0;
	width: 1.5rem;
	height: 1.5rem;
	color: #e52525;
}
